
form input{color:blue;
}

#estado {
  width: 40px;
  height: 40px;
  color: blue;
}
.clOnline {
  background-color:green;
  
}
.clOffline {
  background-color:red;
  
}
div > input {
  color:green;
}
@keyframes animar {
  from {
    background-color: yellow;
    width: 50px;
  }
  to {
    background-color: green;
    width: 400px;
  }
}
input[type="submi"] {
  animation-name:animar;
  animation-duration:10s;
}